*{
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
}
.nav li{
    width: 25%;
    justify-content: center;
    height: 100px;
    margin-left: 70px;
    margin-top: 20px;
    list-style: none;
}